@section Styles {
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <style>
        #editor{
            weig
        }
    </style>
}

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: ['heading', '|', 'bold', 'italic', 'TextColor', 'BGColor', 'link', 'bulletedList', 'numberedList', '|',
                    'alignment', 'outdent', 'indent', '|', 'fontSize', 'fontColor', '|',
                    'imageUpload', 'blockQuote', 'insertTable', 'mediaEmbed', 'undo', 'redo']
            })
            .then(editor => {
                const submitButton = document.getElementById('submit');

                submitButton.addEventListener('click', function () {
                    const content = editor.getData();
                    console.log(content);
                });
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}
<textarea name="content" id="editor"></textarea>
<button id="submit">提交留言</button>